html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, hr, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 15px;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

ol, ul, li {
    list-style: none;
}

h1, .h1 {
    font-size: 42px;
    line-height: 1.285;
    font-weight: 300;
    margin-bottom: 20px;
    letter-spacing: -0.036em;
}
  h1.big, .h1.big {
    font-size: 58px;
    line-height: 1;
    font-weight: 100;
}
  h1.huge, .h1.huge {
    font-size: 64px;
    line-height: 1.218751;
    letter-spacing: -0.04em;
    margin-bottom: 40px;
    font-weight: 100;
}
  h1.small, .h1.small {
    font-size: 46px;
}
  h1.micro, .h1.micro {
    font-size: 34px;
}

  h3,
.h3 {
  font-size: 20px;
  margin-bottom: 12px;
  font-weight: 400;
}
h3.large,
.h3.large {
  font-size: 32px;
}
h3.big,
.h3.big {
  font-size: 24px;
}
h3.small,
.h3.small {
  font-size: 20px;
}
h3.micro,
.h3.micro {
  font-size: 16px;
}
h3 + h1,
h3 + .h1,
.h3 + h1,
.h3 + .h1 {
  margin-top: 30px;
}

.slides {
color: #fff;
fill: #fff;
font-family: "Roboto", sans-serif;
-webkit-hyphens: none;
    -ms-hyphens: none;
        hyphens: none;
background: #111;
-webkit-font-smoothing: antialiased;
}

.fade-6 .content {
    background: rgba(0, 0, 0, 0.85);
}

.slide .background,
.popup .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.slide .background iframe,
.popup .background iframe {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.slide:not(.youtube) .background iframe,
.popup:not(.youtube) .background iframe {
  width: 100%;
  height: 100%;
}

.content {
    overflow: hidden;
    position: absolute;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    -webkit-overflow-scrolling: touch;
}

.container {
    display: table;
    table-layout: fixed;
    position: relative;
    width: 100%;
    height: 100%;
  }

.container .wrap {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}
.scroll .wrap {
    overflow: hidden;
  }

.container .wrap:not(.noSpaces), .container .wrap.spaceWrap,
.container .wrap .spaceWrap {
  padding: 120px calc(8% + 15px);
}
.container .wrap .overflowHidden {
  overflow: hidden;
}
.container .wrap * {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}


[class*='fix-'] {
  width: 100% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  float: none;
}

.fix-10-12 {
    max-width: 928px !important;
}

.fix-12-12 {
    max-width: 1114px !important;
  }
.margin-bottom-2 {
    margin-bottom: 20px !important;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -2%;
    margin-right: -2%;
    /* default spaces */
    /* alignments */
}
.flex > [class*='col-'] {
    padding-left: 2%;
    padding-right: 2%;
  }

.flex.fixedSpaces {
    margin-left: -14px;
    margin-right: -14px;
  }
  .flex.fixedSpaces > [class*='col-'] {
    padding-left: 14px;
    padding-right: 14px;
  }

.left, .align-left {
    text-align: left !important;
}

.flex > .col-3-12 {
    width: 25%;
}


.button {
    display: inline-block;
    border-radius: 4px;
    padding: 16px 24px 17px;
    color: #fff;
    border: none;
    outline: none;
    text-decoration: none;
    background: #202020;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    letter-spacing: normal !important;
    position: relative;
    white-space: nowrap;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
    -webkit-appearance: none;
    margin-bottom: 10px;
    transition: 0.3s;
    -webkit-user-select: none !important;
       -moz-user-select: none !important;
        -ms-user-select: none !important;
            user-select: none !important;
}

.slide .button, .popup .button {
    margin-left: 5px;
    margin-right: 5px;
}
.slide .button.small, .popup .button.small {
    margin-left: 4px;
    margin-right: 4px;
}



.button.rounded {
    border-radius: 6px;
}



  

.button.empty {
    padding: 0 !important;
    background-color: transparent !important;
    font-size: 0 !important;
    margin: 0;
    box-shadow: none;
}

.margin-bottom-2 {
    margin-bottom: 20px !important;
}

.videoThumbnail {
    cursor: pointer;
    position: relative;
    font-size: 0;
    overflow: hidden;
    line-height: 0;
}

.wide {
    width: 100% !important;
}

p,
.p,
blockquote {
  font-size: 22px;
  line-height: 1.6363636364;
  margin-bottom: 30px;
  font-weight: 300;
}
p.hero,
.p.hero,
blockquote.hero {
  font-size: 28px;
  line-height: 1.5;
  margin-bottom: 25px;
}
p.large,
.p.large,
blockquote.large {
  font-size: 32px;
  line-height: 1.4;
}
p.small,
.p.small,
blockquote.small {
  font-size: 18px;
  line-height: 1.36;
  margin-bottom: 20px;
}
p.tiny,
.p.tiny,
blockquote.tiny {
  font-size: 16px;
  line-height: 1.625;
  margin-bottom: 12px;
  font-weight: 400;
}
.margin-top-3 {
    margin-top: 30px !important;
  }

img {
    max-width: 100%;
    display: inline-block;
  }
  img.round {
    border-radius: 999px;
  }
  img.rounded {
    border-radius: 6px;
  }

  
.opacity-6 {
    opacity: 0.6 !important;
} 

.opacity-8 {
    opacity: 0.8 !important;
  }

.slides.animated .kenBurns .background,
.slides.animated .kenBurns.zoomin .background,
.slides.animateOnEvent .kenBurns .background,
.slides.animateOnEvent .kenBurns.zoomin .background {
  -webkit-transform: scale(1.08) rotate(-0.02deg);
          transform: scale(1.08) rotate(-0.02deg);
  opacity: 0.2;
  z-index: 1;
}

.slides.animated .kenBurns:not(.video) .background,
.slides.animated .kenBurns.zoomin:not(.video) .background,
.slides.animateOnEvent .kenBurns:not(.video) .background,
.slides.animateOnEvent .kenBurns.zoomin:not(.video) .background {
  transition: opacity 1s ease, -webkit-transform 5s cubic-bezier(0.3, 0, 0.7, 1);
  transition: transform 5s cubic-bezier(0.3, 0, 0.7, 1), opacity 1s ease;
  transition: transform 5s cubic-bezier(0.3, 0, 0.7, 1), opacity 1s ease, -webkit-transform 5s cubic-bezier(0.3, 0, 0.7, 1);
}



.animated .active.kenBurns:not(.video) .background,
.animated .active.kenBurns.zoomin:not(.video) .background,
.animated .active .kenBurns.zoomin:not(.video) .background,
.animateOnEvent .active.kenBurns:not(.video) .background,
.animateOnEvent .active.kenBurns.zoomin:not(.video) .background,
.animateOnEvent .active .kenBurns.zoomin:not(.video) .background {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slides.animated .kenBurns.zoomin:not(.video) .background,
.slides.animateOnEvent .kenBurns.zoomin:not(.video) .background {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.animated .active.kenBurns.zoomin:not(.video) .background,
.windows .slides.animated .active.kenBurns.zoomin:not(.video) .background,
.animateOnEvent .active.kenBurns.zoomin:not(.video) .background,
.windows .slides.animateOnEvent .active.kenBurns.zoomin:not(.video) .background {
  -webkit-transform: scale(1.08) rotate(-0.02deg);
          transform: scale(1.08) rotate(-0.02deg);
}

.mobile .kenBurns .background,
.mobile .kenBurns.zoomin .background {
  transition: 0s;
  -webkit-transform: none;
          transform: none;
}


.toCenter {
    margin-left: auto !important;
    margin-right: auto !important;
}

html {
  position: static !important;
  top: 0 !important;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}



/*responsive*/
@media (max-width: 1023px) {
  .flex > .col-tablet-1-1 {
    width: 100% !important;
  }

  .flex > .col-phone-1-1 {
    width: 100% !important;
  }
}

/* Animaciones */
.animated [class*="ae-"] {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.2, 1);
}

/* Speed */

.animated .animate [class*="ae-"]:not(.done),
.animated.animate [class*="ae-"]:not(.done) {
  transition-duration: 800ms;
}



/* Delays */
.animated .animate .ae-1:not(.done),
.animated.animate .ae-1:not(.done) {
  transition-delay: 10ms;
}

.animated .animate .ae-2:not(.done),
.animated.animate .ae-2:not(.done) {
  transition-delay: 160ms;
}

.animated .animate .ae-3:not(.done),
.animated.animate .ae-3:not(.done) {
  transition-delay: 310ms;
}

.animated .animate .ae-4:not(.done),
.animated.animate .ae-4:not(.done) {
  transition-delay: 460ms;
}

.animated .animate .ae-5:not(.done),
.animated.animate .ae-5:not(.done) {
  transition-delay: 610ms;
}

.animated .animate .ae-6:not(.done),
.animated.animate .ae-6:not(.done) {
  transition-delay: 760ms;
}

.animated .animate .ae-7:not(.done),
.animated.animate .ae-7:not(.done) {
  transition-delay: 910ms;
}

.animated .animate .ae-8:not(.done),
.animated.animate .ae-8:not(.done) {
  transition-delay: 1060ms;
}

.animated [class*="ae-"]:not(.done),
.animated .fromBottom [class*="ae-"]:not(.done),
.animated.fromBottom [class*="ae-"]:not(.done),
.slides.animated [class*="ae-"].fromBottom:not(.done) {
  visibility: hidden;
  -webkit-transform: translate3d(0, 50px, 0);
          transform: translate3d(0, 50px, 0);
  opacity: 0;
}


.slides.animated .animate.active [class*="ae-"]:not(.done),
.slides .animated.animate.active [class*="ae-"]:not(.done) {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-filter: none;
          filter: none;
}

